# OS
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ackages/
TestResults/
*.pdb
*.cache

# .NET Framework artifacts
App_Data/Uploads/
App_Data/*.mdf
App_Data/*.ldf

# NuGet
*.nupkg
project.lock.json

# Node / Angular
node_modules/
dist/
.angular/
*.log

# IDE
.idea/
.vscode/
